<div id="<%= dom_id tarefa %>">
  <p>
    <strong>Nome tarefa:</strong>
    <%= tarefa.nome_tarefa %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tarefa.status %>
  </p>

  <p>
    <strong>Lista tarefa:</strong>
    <%= tarefa.lista_tarefa_id %>
  </p>

  <p>
    <strong>Etiquetas:</strong>
    <%= tarefa.etiquetas %>
  </p>

  <p>
    <strong>Prazo:</strong>
    <%= tarefa.prazo %>
  </p>

</div>
