<div class='container'>
  <p class="text-center" style="color: green"><%= notice %></p>

  <% content_for :title, "Listas de Tarefas" %>
  <h1 class="text-center"><%= content_for(:title) || "Listas de Tarefas" %></h1>

  <div id="lista_tarefas" class='tasks-list'>
    <% @lista_tarefas.each do |lista_tarefa| %>
      <div class="todo-item">
        <%= render lista_tarefa %>
        <p>
          <%= link_to "Entre na Lista", lista_tarefa %>
        </p>
          <%= button_to "Deletar", lista_tarefa, method: :delete, data: { confirm: "Você tem certeza que deseja deletar esta lista?" }, class: "btn btn-danger btn-sm" %>
      </div>
    <% end %>
  </div>

  <%= link_to "Adicionar nova Lista de Tarefa", new_lista_tarefa_path, class: "btn btn-primary" %>

</div>