<div class="container">
  <p style="color: green"><%= notice %></p>

  <div> 
    <div class="tasks-list-name-container d-flex justify-content-between align-items-center">
      <%= link_to lista_tarefas_path, class: "btn btn-secondary", style: "color: #fff;" do %>
          <i class="bi bi-arrow-left"></i> Listas
      <% end %>
      <div class="task-center">
          <%= render @lista_tarefa %>
      </div>
    </div>

    <div class="task-input">
      <%= form_for [@lista_tarefa, @tarefa] do |f| %>
        <%= f.text_area :nome_tarefa, placeholder: "+ Adicionar Tarefa", class: "form-control task-add-input", rows: 1 %>
        <%= f.hidden_field :lista_tarefa_id, value: @lista_tarefa.id %>
        <%= f.submit "Adicionar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>


  <div>
    <div class="tasks-list">
      <% @lista_tarefa.tarefas.each do |tarefa| %>
        <div class="task-item">
          <div class="task-checkbox">
            <%= form_for tarefa, url: update_status_lista_tarefa_tarefa_path(@lista_tarefa, tarefa), method: :patch do |f| %>
              <%= f.check_box :status, { class: "form-check-input", checked: tarefa.status }, true, false %>
            <% end %>
          </div>
          <div class="task-content">
            <% if tarefa.status %> 
              <strike>
                <p><%= tarefa.nome_tarefa %></p>
              </strike>
            <% else %>
              <p><%= tarefa.nome_tarefa %></p> 
            <% end %>
            <small class="task-date">Até Hoje</small>
          </div>

          <div class="task-action">
            <% if tarefa.status %>
              <%= button_to "Desfeito", update_status_lista_tarefa_tarefa_path(@lista_tarefa, tarefa, tarefa: { status: false }), method: :patch, class: "btn btn-warning" %>
            <% else %>
              <%= button_to "Feito", update_status_lista_tarefa_tarefa_path(@lista_tarefa, tarefa, tarefa: { status: true }), method: :patch, class: "btn btn-success" %>
            <% end %>

             <%= button_to "Deletar", lista_tarefa_tarefa_path(@lista_tarefa, tarefa), method: :delete, class: "btn btn-danger mt-2" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="delete-historic-container">
      <%= button_to "Delete esta Lista de Tarefas", @lista_tarefa, method: :delete, class: "btn btn-danger mt-3" %>
      <%= link_to "Ver Histórico de Tarefas Concluídas", historico_lista_tarefa_path(@lista_tarefa), class: "btn btn-info mt-3" %>
    </div>
  </div>
</div>
